.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.table {
  margin: 20px;
}

.main {
  justify-content: center;
}

.content {
  max-width: 750px;
  margin: auto;
}

ul {
  list-style: none;
}

.pagination-nav {
  width: 200px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
}

.page-nav {
  cursor: pointer;
}

.active {
  font-weight: 900;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination-nav {
  display: inherit;
  margin-left: 20px;
}

.user-input, .filters {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 500px;
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.search {
  display: inherit;
}

@media (max-width: 720px) {
  .controls {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .user-input, .filters {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter, .search {
    margin: 10px 0;
  }
}